.shipping {
  @include flex;

  .back-btn {
    @include square(2.5rem);
    background-color: $color2;
    color: $color1;
    @include flex;
    position: fixed;
    top: 2rem;
    left: 2rem;
    border-radius: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    @include baseShadow;

    svg {
      transition: all 0.3s;
    }
    &:hover svg {
      translate: -0.25rem;
    }
  }

  > form {
    max-width: 45px;
    width: 100%;
    @include flex(column, center, stretch, 2rem);
  }
}
